build/
*.deb
*.buildinfo
*.changes
*.tar.gz
*.tar.xz
*.dsc
debian/.debhelper/
debian/files
debian/*.substvars
debian/*.debhelper.log
debian/*-container/
debian/boat-container-store/

.venv/
__pycache__/
*.pyc
.pytest_cache/

.DS_Store
.idea/
.vscode/
*.swp
